.container {
  margin: 0 auto;
  max-width: 400px;
  padding: 10px;
  font-family: sans-serif;
}

.title {
  margin: 0 0 20px;
  text-align: center;
}

.sub-title {
  composes: title;
  margin-bottom: 16px;
}
